<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Het Sinterklaas Spel</title>
</head>
<header>
    <nav>
    </nav>
</header>
<body>De vraag is natuurlijk, zal ik het redden om het spel af te maken vóór zaterdag?!
</body>
<footer class="page-footer black">
    <div class="container footer-copyright"> 
        <a class="" href=""></a>
        <a class="" href=""></a>
        <a class="" href=""></a>
    </div>
</footer>   
</html> 